doctype html
html
   head
      meta(name="viewport", content="width=device-width, initial-scale=1")
      
      // Stylesheets
      //link(rel="stylesheet", href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css")
      link(rel="stylesheet", href="/jquery-mobile-bower/css/jquery.mobile-1.4.5.min.css")
      link(rel="stylesheet", href="/stylesheets/style.css")

      // Javascripts
      //script(src="http://code.jquery.com/jquery-1.11.3.min.js")
      script(src="/jquery/jquery.min.js")
      //script(src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")
      script(src="/jquery-mobile-bower/js/jquery.mobile-1.4.5.js")
      script(src="/flip/dist/jquery.flip.js")
      script(src="/javascripts/skiveVender.js")
      
   body
      div(data-role="page", id="pageone", data-theme="a")

         // Header
         div(data-role="header")
            h1#header Skive-vender

         // Main
         div(data-role="content", class="ui-content")

            div#tabs(data-role="tabs")
               // Navbar
               div(data-role="navbar")
                  ul
                     li
                        a#a_skyting(href="#skyting") Skyting
                     li
                        a(href="#instillinger") Instillinger
               
               // Instillinger
               div#instillinger
                  div        
                     label(for="select_time") Tid før skyting:
                     select#select-prologe(name="select-prologe")
                        option(value=10) 10 sekunder til skyting
                        option(value=60) 60 sekunder til skyting
                     label(for="select_time") Tid borte:
                     select#select-hide-time(name="select-hide-time")
                        option(value=7) 7 sekunder
                        option(value=99999) 3-12 sek. tilfeldig
                     label(for="select_time") Tid fremme:
                     select#select-show-time(name="select-show-time")
                        option(value=3) 3 sekunder
                        option(value=4) 4 sekunder
                        option(value=6) 6 sekunder
                        option(value=8) 8 sekunder
                        option(value=10) 10 sekunder
                        option(value=20) 20 sekunder
                        option(value=150) 150 sekunder
                        option(value=300) 300 sekunder
                     label(for="select_time") Repetisjoner:
                     select#select-reps(name="select-reps")
                        option(value=1) 1 gang
                        option(value=5) 5 ganger

               // Skyting
               div#skyting
                  div#target_container.ui-grid-a
                     div#target.ui-block-a
                        div.front           
                           img#front_img(src="/images/target.png")
                        div.back
                           div#back_img

                  div.ui-grid
                     div.ui-block
                        input#start(type="button", data-icon="check", value="Start")
                     div.ui-block
                        input#stop(type="button", data-icon="delete", value="Stopp")

                  div.ui-grid
                     div.ui-block
                            label#counter


         // Footer
         div(data-role="footer", data-position="fixed", data-tap-toggle="false")    
            h1 &copy Roy Kollen Svendsen


