doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/jquery-mobile/css/themes/default/jquery.mobile.css')
  body
    block content
    script(type="text/javascript", src="/jquery/jquery.js")
    script(type="text/javascript", src="/jquery-mobile/js/jquery.mobile.js")
