body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#target_container {
   width: 50%;
}

#target {
   width: 50%;
   margin-top: 10px;
}

#front_img {
   background-color: white;
}

#back_img {
   width: 10px;
   height: 150px;
   background-color: white;

}

.ui-btn {
   height: 30px;
}
